* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  overflow-x:hidden;
  font-size: 18px
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x:hidden;
  font-size: 18px
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  font-size: 18px
}
.container {
  width: 720px;
  margin: 0 auto;
  padding: 0px;
}

.header {
  padding: 20px 0;
}

.header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.photo,

.author {
  display: inline-block;
  margin-left: 15px;
  vertical-align: top;
}


.info_box span {
  color: #95a5a6
}


/* задаем свойства заголовку */

h3 {
  text-align: center;
  color: #2c3e50;
}


/* задаем свойства горизонтальной линии */

hr {
  border: none;
  color: #eee;
  background-color: #eee;
  height: 1px;
}


/* задаем свойства тексту */

p {
  text-align: left;
  color: #34495e;
}

a {
  text-decoration: none;
  color: #3498db;
}

li {
  margin: 10px 0;
  list-style-type: none;
}

img {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}

.contacts {
  text-align: center;
}
.colheader {
  text-align: center;
}
.header {
  text-align: center;
}


@media screen and (max-width: 620px) {
  .container {
    padding: 0 10px;
  }

  .header img {
    max-width: 100%;
  }

  .photo,
  .author {
    display: block;
    text-align: center;
  }

  .author {
    margin-left: 0;
    margin-top: 10px;
  }

  .info_box {
    text-align: center;
  }

  .contacts {
    text-align: center;
    margin-top: 10px;
  }

/* медиа-запрос для мобильных устройств */
@media screen and (max-width: 480px) {
  body {
    font-size: 22px;
  }
}

}