html:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("images/animeshka.png") no-repeat center center fixed;
  background-size: cover;
  filter: blur(10px) brightness(80%) contrast(90%) sepia(5%) saturate(120%);
  -webkit-filter: blur(10px) brightness(80%) contrast(90%) sepia(5%) saturate(120%);
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) inset
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

div {
  max-width: 800px;
  margin: 0 auto;
  display: block;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

p {
  margin-top: 10px;
}

ul {
  margin-top: 10px;
  margin-left: 20px;
}

li {
  margin-bottom: 5px;
}

.contact {
  margin-bottom: 20px;
}

.contact h2 {
  margin-top: 0;
}

.skills {
  margin-bottom: 20px;
}

.skills h2 {
  margin-top: 0;
}

.projects {
  margin-bottom: 20px;
}

.projects h2 {
  margin-top: 0;
}

.qualities {
  margin-bottom: 20px;
}

.qualities h2 {
  margin-top: 0;
}

.jobexperience {
  margin-bottom: 20px;
}

.jobexperience h2 {
  margin-top: 0;
}

.educationlvl {
  margin-bottom: 20px;
}

.educationlvl h2 {
  margin-top: 0;
}